#cloud-config
hostname: "{{ vm_name }}"
users:
  - default
  - name: "{{ vm_user }}"
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    shell: "/bin/bash"
    plain_text_passwd: "rootroot"
    ssh-authorized-keys:
      - "{{ vm_ssh_key }}"
package_upgrade: false
#power_state:
#  delay: "+50"
#  mode: reboot
#  condition: true
